<div class="col-xs-4 col-xs-offset-1" id="burger-not-devoured-column">
    {{#each burgers}}
        {{#unless devoured}}
         <div class="row">
            <div class="col-xs-10 burger-list-not-devoured">
                <p>{{this.id}}) {{this.burger_name}}</p>
            </div>
            <div class="col-xs-2 devour-button-container">
                <button class="devour-button" data-id="{{this.id}}">Devour</button>
            </div>
        </div>
        {{/unless}}
    {{/each}} 
</div>
<div class="col-xs-2">

</div>
<div class="col-xs-4" id="burger-devoured-column">
    {{#each burgers}}
        {{#if devoured}}
            <div class="row">
                <div class="col-xs-10 burger-list-devoured">
                    <p>{{this.id}}) {{this.burger_name}}</p>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>
        